@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}


/* font Family setup */
/* @font-face {
  src: url(../../public/fonts/nexaText.zip);
  font-family: 'Nexa Text';
}

h1,
h2,
h3,
h4 {
  font-family: 'Nexa Text';
} */

/* .navBg{
  background-color: #030B15 !important;
  z-index: 999;
} */

.heroBg {
  background-image: url(../../public/images/heroBg.png);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: center;
}

/* .heroEffect2 {
  display: block;
  margin-left: auto;
  margin-top: -450px;
} */

.startInvestBg {
  background-image: url(../../public/images/startInvestingBg.png);
  background-position: center;
}

.investCard {
  background: linear-gradient(258deg,
      rgba(79, 224, 190, 0) 14.63%,
      rgba(79, 224, 182, 0.08) 56.32%,
      rgba(79, 224, 182, 0.06) 65.36%,
      rgba(217, 217, 217, 0) 109.44%);
  @apply relative overflow-hidden px-5 py-5 border border-[#4FE0B6] rounded-lg;
}

.textStroke{
  -webkit-text-stroke: 2px #4fe0b6;
  -webkit-text-fill-color: transparent;
}

.aboutCard {
  position: relative;
}

.aboutCard::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 5px;
  background: linear-gradient(45deg, #4FE0B6, #1D70B7, #44B9BE);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}



.reasonCard {
  background: linear-gradient(rgba(0, 0, 0) 15%, rgb(22, 51, 43) 60%, rgba(0, 0, 0));
}

.contactsBg {
  background-image: url(../../public/images/contactBg.png);
  background-position: bottom;
  padding-bottom: 100px;
}